<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.softlang.org/megal/MegaL"
			class = "org.softlang.megal.megaL.MegaLPackage"
			genModel = "model/generated/MegaL.genmodel" />
	</extension>
</plugin>
