<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="target" sequenceNumber="4">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.google.inject.assistedinject" version="3.0.0.v201402270930"/>
<unit id="org.eclipse.gef.fx.sdk.feature.group" version="5.0.2.201807170837"/>
<unit id="org.eclipse.gef.mvc.doc.feature.group" version="5.0.2.201807170837"/>
<unit id="org.eclipse.gef.zest.doc.feature.group" version="5.0.2.201807170837"/>
<unit id="org.eclipse.gef.graph.feature.group" version="5.0.0.201807170837"/>
<unit id="org.eclipse.gef.geometry.doc.feature.group" version="5.0.2.201807170837"/>
<unit id="org.eclipse.gef.geometry.convert.swt.feature.group" version="5.0.2.201807170837"/>
<unit id="com.google.guava" version="15.0.0.v201403281430"/>
<unit id="org.eclipse.gef.mvc.fx.ui.feature.group" version="5.0.2.201807170837"/>
<unit id="org.eclipse.gef.zest.examples.source.feature.group" version="5.0.2.201807170837"/>
<unit id="org.eclipse.gef.fx.feature.group" version="5.0.1.201807170837"/>
<unit id="org.eclipse.gef.graph.sdk.feature.group" version="5.0.0.201807170837"/>
<unit id="org.eclipse.gef.dot.sdk.feature.group" version="5.0.100.201807170837"/>
<unit id="org.eclipse.gef.cloudio.ui.feature.group" version="5.0.2.201807170837"/>
<unit id="com.google.inject.multibindings" version="3.0.0.v201402270930"/>
<unit id="org.eclipse.gef.fx.doc.feature.group" version="5.0.2.201807170837"/>
<unit id="org.eclipse.gef.dot.feature.group" version="5.0.100.201807170837"/>
<unit id="org.eclipse.gef.zest.fx.ui.feature.group" version="5.0.2.201807170837"/>
<unit id="org.eclipse.gef.geometry.feature.group" version="5.0.0.201807170837"/>
<unit id="org.eclipse.gef.cloudio.sdk.feature.group" version="5.0.2.201807170837"/>
<unit id="org.eclipse.gef.zest.fx.feature.group" version="5.0.1.201807170837"/>
<unit id="org.eclipse.gef.mvc.fx.feature.group" version="5.0.2.201807170837"/>
<unit id="org.eclipse.gef.cloudio.doc.user.feature.group" version="5.0.2.201807170837"/>
<unit id="org.eclipse.gef.mvc.fx.compatibility.equinox.feature.group" version="5.0.2.201807170837"/>
<unit id="org.eclipse.gef.geometry.convert.fx.feature.group" version="5.0.0.201807170837"/>
<unit id="org.eclipse.gef.layout.sdk.feature.group" version="5.0.0.201807170837"/>
<unit id="org.eclipse.gef.dot.ui.feature.group" version="5.0.100.201807170837"/>
<unit id="org.eclipse.gef.common.sdk.feature.group" version="5.0.0.201807170837"/>
<unit id="org.eclipse.gef.layout.feature.group" version="5.0.0.201807170837"/>
<unit id="org.eclipse.gef.dot.doc.user.feature.group" version="5.0.100.201807170837"/>
<unit id="org.eclipse.gef.common.doc.feature.group" version="5.0.0.201807170837"/>
<unit id="org.eclipse.gef.cloudio.user.feature.group" version="5.0.2.201807170837"/>
<unit id="org.eclipse.gef.dot.doc.feature.group" version="5.0.100.201807170837"/>
<unit id="org.eclipse.gef.fx.swt.feature.group" version="5.0.2.201807170837"/>
<unit id="com.google.inject" version="3.0.0.v201312141243"/>
<unit id="org.eclipse.gef.fx.compatibility.equinox.feature.group" version="5.0.2.201807170837"/>
<unit id="org.eclipse.gef.geometry.sdk.feature.group" version="5.0.2.201807170837"/>
<unit id="org.eclipse.gef.common.feature.group" version="5.0.0.201807170837"/>
<unit id="org.eclipse.gef.mvc.examples.source.feature.group" version="5.0.2.201807170837"/>
<unit id="org.eclipse.gef.zest.fx.compatibility.equinox.feature.group" version="5.0.2.201807170837"/>
<unit id="org.eclipse.gef.graph.doc.feature.group" version="5.0.0.201807170837"/>
<unit id="org.eclipse.gef.fx.jface.feature.group" version="5.0.2.201807170837"/>
<unit id="org.eclipse.gef.zest.fx.jface.feature.group" version="5.0.2.201807170837"/>
<unit id="org.eclipse.gef.mvc.sdk.feature.group" version="5.0.2.201807170837"/>
<unit id="org.eclipse.gef.zest.sdk.feature.group" version="5.0.2.201807170837"/>
<unit id="org.eclipse.gef.cloudio.doc.feature.group" version="5.0.2.201807170837"/>
<unit id="org.eclipse.gef.dot.user.feature.group" version="5.0.100.201807170837"/>
<unit id="org.eclipse.gef.layout.doc.feature.group" version="5.0.0.201807170837"/>
<repository location="http://download.eclipse.org/tools/gef/updates/milestones"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.10.0.v201605250459"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.12.0.v20160526-0356"/>
<repository location="http://download.eclipse.org/releases/neon"/>
</location>
</locations>
</target>
